<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.mapper.LoginMapper">

	<select id="login" resultType="com.kh.dto.NaverUser">
	SELECT id,email,nickname,name,profile_image
	FROM naver_user
	WHERE id=#{id}
	AND password = #{password}
	</select>
	
</mapper>