<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.kh.mapper.UserMapper">
	<select id="findAll">
		select * from user
	</select>
	<!-- insert delete selete -->
	<!-- 
	useGeneratedKeys="true" = DB에서 Auto_increment 자동증가 설정을 했으 ㄹ때 키 값을 자동으로 넣을 수 있도록 설정
	 keyProperty="id" = 자동으로 증가하는 기준이 되는 키 설정은 어떤 컬럼을 바라볼 것인가?
	 -->
	<insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id" >
		Insert into user(name, email)
		values (#{name}, #{email})
	</insert>
</mapper>