.header-nav {
    background-color: #333;
    padding: 10px 20px;
}
.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
.nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.nav-link:hover {
    background-color: #facfcf94;
    border-radius: 8px;
    padding: 5px 10px;
    text-decoration: underline;
}
.nav-item {
    margin: 0 10px;
}
