<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- mybatis에서 null값을 처리하는 방법을 지정하는 설정
			DB나 java에서 가져오는 값이 null일 때 이것을 어떻게 처리할 것인가?
			value 에 null이라고 작성하면 null이 들어갈것이고
			value = VARCHAR2나 int 특정값으로 null을 db에 전달하겠다. 라는 설정
		 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
		
		<!-- Under score = todo_name과 같이 중간에 _ 들어가는 것을 언더스코어라 하고
			Camel Case = todoName 과 같이 중간에 대문자가 들어가는 것을 카멜케이스라고 함
			DB에 언더스코어로 작성된 값을 java에선 카멜케이스로 표기하겠다. 선언
		 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
</configuration>