.pizzaform-container {
    display: flex;
    flex-direction: column;
}
.pizzaform-container label{
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}
.pizzaform-container input{
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-bottom: 15px;
}
.pizzaform-container input:focus{
    border-color: #ff4500;
}
.pizzaform-container button{
    padding: 10px 20px;
    background-color: #28a745;
    cursor: pointer;
}
.pizzaform-container button:hover{
    background-color: #218838;
}