.chicken-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.chicken-container h1{
    text-align: center;
    font-size: 2.5em; /*em =16px , 2.5*16=40px*/
    margin-bottom: 20px;
    color: #333;
}
.chicken-container ul {
    list-style-type: none;
    padding: 0;
}
.chicken-container li {
    border: 1px solid #fff;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.chicken-container li span {
    font-size: 1.2em;
    color: #555;
}
.chicken-container li:hover{
    background-color: #f1f1f1;
}
.chicken-item{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    transition: background-color 0.3s, transform 0.3s;
}
.chicken-item:hover{
    background-color: #f1f1f1;
    /* 크기를 1.02배로 키운다는 의미 */
    transform: scale(1.02);
}
.chicken-name {
    font-weight: bold;
    font-size: 1.4em;
    /*기본으로 태그가 차지할 공간*/
    flex-basis: 25%;
    color: #333;
}
.chicken-description{
    font-size: 1.2em;
    flex-basis: 35%;
    color: #666;
    text-align: left;
    margin-left: 10px;
}
.chicken-price{
    font-size: 1.4em;
    color: #28a745;
    flex-basis: 20%;
    text-align: right;
}
.detail-button {
    flex-basis: 15%;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, font-size 0.5s;
}
/*마우스를 상세보기에 올렸을 때 font 크기를 1.5배 키우기 0.5s 동안*/
.detail-button:hover{
    background-color: #0006b3;
    font-size: 1.1em;
}

/* 홈페이지를 테블릿으로 볼 때 반응형 처리 */
@media(max-width:600px){ /*테블릿크기*/

.chicken-container{
    width: 100%;
    padding: 10px;
}
.chicken-container h1 {
    font-size: 2em;
}
.chicken-container li {
    flex-direction: column;
    text-align: center;
}
/* 
width height %를 사용하는 이유
현재 창 크기에서 100%를 차지할 것인가?
width height 에서 대부분 반응형을 주기 위해 % 를 많이 사용
*/
}


