<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.kh.mapper.PostMapper">
	<!-- select 전체 게시글 보기 SQL -->
	<select id="findAll" resultType="com.kh.dto.Post">
		SELECT * FROM POSTS
	</select>
	
	<insert id="insertPost" parameterType="com.kh.dto.Post">
		<!-- posts 게시글 테이블에 title=제목, content=내용 작성 -->
		INSERT INTO posts (title, content,image_url) 
					VALUES (#{title},#{content},#{imageUrl})
	</insert>	
	
	<update id="updatePost" parameterType="com.kh.dto.Post">
		update posts
		set title=#{title}, content=#{content}, image_url = #{imageUrl}
		where id = #{id}
	</update>
</mapper>