<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.kh.mapper.PostMapper">
	<!-- select 전체 게시글 보기 SQL -->
	<select id="findAll">
		select p.id, p.title, p.content, i.image_url
		from posts p
		left join images i ON p.id = i.post_id
	</select>
	
	<insert id="insertPost">
		<!-- posts 게시글 테이블에 title=제목, content=내용 작성 -->
		INSERT INTO posts (title, content) VALUES (#{title},#{content})
	</insert>
	
	<insert id="insertImg">
		INSERT INTO images (post_id, image_url) VALUES (#{postId}, #{imageUrl})
	</insert>
	
</mapper>